@charset "UTF-8";

table{
	margin:auto;
    padding:0px;
    width: 1000px;
    height: auto;
	font-family: "宋体";
	background:url("img/background1.jpg") no-repeat;
    background-size: cover;
}
a{ text-decoration:none;}
#title{font-size: 1.3em;font-weight: 500; color: purple;}
.tr0{
	background-color: #A2B5CD;
	text-align:center;
	margin: auto;
	height: 45px;
}
.d1{text-align:center;background-color: #A2B5CD;width: 80px;}




